.navbar {
    padding-bottom: 10px;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    background-color: #003153;
    z-index: 1;
}

.hide {
    display: none;
}

.navBarList {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navBarListItem {
    display: flex;
    margin: 20px;
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
}

.navBarListMobile {
    display: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navBarListItemMobile {
    display: none;
    margin: 20px;
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
}


.navbar a:link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.navbar a:visited {
    color: white;
}

.navbar a:hover {
    transform: scale(1.2);
    color: #FFD700;
}

.navbar a.active {
    color: #FFD700;
}

/** MEDIA QUERIES **/

@media (max-width: 900px) {

    .show {
        display:inline-block;
        padding: 10px;
        font-size: 25px;
        color: white;
        cursor: pointer;
        transition: all .2s ease-in-out; 
    }

    .show:hover {
        display:inline-block;
        padding: 10px;
        color: #FFD700;
        cursor: pointer;
        transform: scale(1.2); 
    }

    .navbar {
        padding-bottom: 10px;
        width: 100%;
        height: 100%;
        position: sticky;
        top: 0;
        background-color: #003153;
        z-index: 1;
    }

    .navBarIconsMobile {
        flex: 3;
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }

    .navBarSocialIconMobile {
        margin: 0 10px;
        font-size: 24px;
        cursor: pointer;
    }

    .navBarEmailIconMobile {
        margin: 0 10px;
        font-size: 24px;
        cursor: pointer;
    }

    .navBarList {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .navBarListItem {
        display: none;
        margin: 12px 6px;
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    .navBarListMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .navBarListItemMobile {
        display: flex;
        margin: 12px 6px;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        color: white;
        cursor: pointer;
    }  

    .navBarListItemMobile:hover {
        display: flex;
        margin: 12px 6px;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        color: #FFD700;
        cursor: pointer;
    }

}