.character {
    margin: 10px;
}

.characterImgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.characterImg {
    margin: 10px;
    border-radius: 10px;
    height: 700px;
}

.characterName {
    margin-bottom: 15px;
    font-size: 50px;
    text-align: center;
    color: #003153;
}

.characterProfile {
    display: flex;
}

.characterProfileTitle {
    font-size: 35px;
    text-align: center;
    color: #FFD700;
}

.characterInfo {
    flex: 2;
    background-color: #003153;
    border: 5px solid #FFD700;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 25px;
}

.characterInfoTitle {
    margin: 20px 0;
    font-size: 30px;
    color: #FFD700;
}

.characterInfoList {
    padding: 0;
    list-style: none;
    list-style-type: none;
}

.characterInfoList li {
    margin: 10px 0;
    font-size: 25px;
    color: white;
}

.characterBio {
    flex: 7;
    margin: 0 50px;
    font-size: 25px;
    line-height: 1.5;
    color: #003153;
}

@media (max-width: 900px) {

    .characterImg {
        margin: 10px;
        border-radius: 10px;
        height: 400px;
    }
    
    .characterProfile {
        display: flex;
        flex-wrap: wrap;
    }

    .characterInfo {
        flex: 2;
        background-color: #003153;
        border: 5px solid #FFD700;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 25px;
        height: 100%;
    }

    .characterProfileTitle {
        font-size: 28px;
        text-align: center;
        color: #FFD700;
    }

    .characterInfoTitle {
        margin: 20px 0;
        font-size: 25px;
        color: #FFD700;
    }

    .characterInfoList li {
        margin: 10px 0;
        font-size: 20px;
        color: white;
    }

    .characterBio {
        flex: 7;
        margin: 0 10px;
        font-size: 20px;
        line-height: 1.5;
        color: #003153;
    }

}