.footer {
  left: 0;
  bottom: 0;
  background-color: #003153;
  color: white;
  text-align: center;
  padding: 20px;
}

.footerSocialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin-bottom: 15px;
}

.footerImage {
  width: 100px;
}

.footerCopyright {
  font-size: 20px;
}

.footerMessage {
  font-size: 20px;
}

.footerSocialIcons {
  margin-left: 15px;
  margin-bottom: 10px;
}

.footerSocialIcon {
  margin-top: 10px;
  margin-right: 15px;
  font-size: 25px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.footer a:link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.footer a:visited {
  color: white;
}

.footer a:hover {
  transform: scale(1.2);
  color: #FFD700;
}

.footer a:active {
  color: #FFD700;
}